<style scoped>
    .action-link {
        cursor: pointer;
    }

    .m-b-none {
        margin-bottom: 0;
    }
</style>

<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span>
                        Commands
                    </span>

                    <span>
                        <input type="text"
                               v-model="searchCommand"
                               class="form-control"
                               placeholder="Search commands..."
                        >
                    </span>

                    <a class="action-link" @click="showCreateCommandForm">
                        Create New Command
                    </a>
                </div>
            </div>

            <div class="panel-body">
                <!-- Current Commands -->
                <p class="m-b-none" v-if="commands.length === 0">
                    You have not created any commands.
                </p>

                <div class="table-responsive">
                    <table class="table table-borderless m-b-none"
                           v-if="commands.length > 0"
                    >
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Protected</th>
                            <th>Active</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="command in filteredCommands" :key="command.command"
                            :class="{'success': command.active, 'danger': ! command.active}"
                        >
                            <!-- Command Name -->
                            <td style="vertical-align: middle;">
                                <code>{{ command.command }}</code>
                            </td>

                            <!-- Protected -->
                            <td style="vertical-align: middle;">
                                {{ command.protected }}
                            </td>

                            <!-- Active -->
                            <td style="vertical-align: middle;">
                                {{ command.active }}
                            </td>

                            <td class="text-right">
                                <a class="action-link btn btn-default btn-xs" @click="testCommand(command)">
                                    Test Command
                                </a>
                            </td>

                            <td style="vertical-align: middle;" class="text-right">
                                <!-- Show Button -->
                                <a class="action-link btn btn-default btn-xs" @click="show(command)">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>

                                <!-- Edit Button -->
                                <a class="action-link btn btn-default btn-xs" @click="edit(command)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>

                                <!-- Delete Button -->
                                <a class="action-link btn btn-default btn-xs" @click="destroy(command)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Show Command Modal -->
        <show-command :command="command"
                      v-if="command"
        ></show-command>

        <!-- Create Command Modal -->
        <create-command></create-command>

        <!-- Edit Command Modal -->
        <edit-command :command.sync="command"></edit-command>
    </div>
</template>

<script>
    import ShowCommand from './ShowCommand.vue';
    import CreateCommand from './form/CreateCommand.vue';
    import EditCommand from './form/EditCommand.vue';

    export default {
        components: {
            ShowCommand, CreateCommand, EditCommand,
        },

        /*
         * The component's data.
         */
        data() {
            return {
                commands: [],
                command: {},
                searchCommand: '',
            };
        },

        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.prepareComponent();
        },

        computed: {
            filteredCommands: function () {
                return this.commands.filter(item => {
                    return item.command.indexOf(this.searchCommand) > -1;
                });
            }
        },

        methods: {

            /**
             * Show the given command.
             */
            show(command) {
                this.command = command;

                $('#modal-show-command').modal('show');
            },

            /**
             * Show the form for creating new commands.
             */
            showCreateCommandForm() {
                $('#modal-create-command').modal('show');
            },

            /**
             * Edit the given command.
             */
            edit(command) {
                this.command = command;

                $('#modal-edit-command').modal('show');
            },

            /**
             * Prepare the component.
             */
            prepareComponent() {
                this.getCommands();

                $('#modal-create-command').on('shown.bs.modal', () => {
                    $('#create-command-name').focus();
                });

                $('#modal-edit-command').on('shown.bs.modal', () => {
                    $('#edit-command-name').focus();
                });
            },

            /**
             * Get all of the commands.
             */
            getCommands() {
                axios.get('/admin/commands')
                    .then(response => this.commands = response.data);
            },

            /**
             * Destroy the given command.
             */
            destroy(command) {
                this.$swal({
                    title: 'Are you sure?',
                    showCancelButton: true,
                    reverseButtons: true
                }).then(() => {
                    axios.delete('/admin/commands/' + command.id)
                        .then(response => this.getCommands());
                }, dismiss => {});
            },

            testCommand(command) {
                let requestCommand = 'cmd=' + command.command;
                let requestParameters = command.parameters.map(p => {
                        let param = [];

                        param.push(p.key + '=' + p.val);

                        return param;
                    }).join('&');

                console.log(requestParameters);

                requestParameters = requestParameters.length ? '&' + requestParameters : '';

                axios.get('/api?' + requestCommand + requestParameters)
                    .then(result => {
                        this.$swal({
                            title: 'Success',
                            type: 'success',
                            timer: 2000,
                            showConfirmButton: false,
                        });
                    })
                    .catch(error => {
                        this.$swal({
                            title: error.response.data.error.status_code.toString(),
                            text: error.response.data.error.message,
                            type: 'error',
                        });
                    });
            }
        }
    }
</script>
