<template>
    <div class="modal fade" id="modal-show-command" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button " class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">
                        Show Command
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 style="display:flex;">
                                <span style="flex:1;">Command</span>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <code>{{ command.command }}</code>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>
                                <span>Status</span>
                            </h4>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"
                                style="display:flex;"
                            >
                                <span style="flex:1;">Active</span>
                                <article style="flex:3;">
                                    <code>{{ command.active ? 'true' : 'false' }}</code>
                                </article>
                            </li>
                            <li class="list-group-item"
                                style="display:flex;"
                            >
                                <span style="flex:1;">Protected</span>
                                <article style="flex:3;">
                                    <code>{{ command.protected ? 'true' : 'false' }}</code>
                                </article>
                            </li>
                        </ul>
                    </div>

                    <div class="panel panel-default"
                         v-show="command.parameters && command.parameters.length"
                         style="display:none;"
                    >
                        <div class="panel-heading">
                            <h4 style="display:flex;">
                                <span style="flex:1;">Parameters</span>
                                <em>
                                    <small><code>Optional parameters for the command.</code></small>
                                </em>
                            </h4>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"
                                v-for="parameter in command.parameters"
                                style="display:flex;"
                            >
                                <span style="flex:1;">
                                    <code>{{ parameter.key }}: {{ parameter.val }}</code>
                                </span>
                                <article style="flex:3;">{{ parameter.description }}</article>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-default"
                         v-show="command.validation && command.validation.length"
                         style="display:none;"
                    >
                        <div class="panel-heading">
                            <h4 style="display:flex;">
                                <span style="flex:1;">Validations</span>
                                <em>
                                    <small><code>Server side validation.</code></small>
                                </em>
                            </h4>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"
                                v-for="validation in command.validation"
                                style="display:flex;"
                            >
                                <span style="flex:1;">
                                    <code>{{ validation.key }}: {{ validation.val }}</code>
                                </span>
                                <article style="flex:3;">{{ validation.description }}</article>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 style="display:flex;">
                                <span style="flex:1;">Url</span>
                                <em>
                                    <small><code>Example</code></small>
                                </em>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <!--<pre>http://example.com/api?cmd={{ command.command }}<span v-for="parameter in command.parameters">&{{ parameter.key }}={{ parameter.val }}</span></pre>-->
                            <pre>http://example.com/api?cmd={{ command.command }}<span v-for="parameter in command.parameters">&{{ parameter.key }}={{ (typeof parameter.val == 'string') ? parameter.val.split('|')[0] : parameter.val }}</span></pre>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 style="display:flex;">
                                <span style="flex:1;">Response</span>
                                <em>
                                    <small><code>JSON</code></small>
                                </em>
                            </h4>
                        </div>
                        <div class="panel-body">
<pre>{
    "message": "success",
    "code": 200,
    "data": {}
}</pre>
                        </div>
                    </div>
                </div>

                <!-- Modal Actions -->
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                    >Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['command'],

        data() {
            return {}
        }
    }
</script>