<template>
    <div>
        <div class="form-group">
            <label class="col-md-3 control-label">Parameters</label>

            <div class="col-md-3">
                <input type="text"
                       class="form-control"
                       name="parameters"
                       v-model="parameter.key"
                       placeholder="Key"
                       :disabled="editExistingParameter"
                >
            </div>
            <div class="col-md-4">
                <input type="text"
                       class="form-control"
                       name="parameters"
                       v-model="parameter.val"
                       placeholder="Value"
                >
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"></label>

            <div class="col-md-7">
                                    <textarea name="parameters-description"
                                              class="form-control"
                                              id="parameters-description"
                                              rows="3"
                                              placeholder="Parameter description (optional)"
                                              v-model="parameter.description"
                                    ></textarea>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary"
                        @click.prevent="addParameters"
                        v-text="editExistingParameter ? 'Update' : 'Add'"
                ></button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-sm"
                        v-for="param in parameters"
                        style="display:flex;"
                    >
                        <div style="flex:1;">
                            <strong>{{ param.key }}: {{ param.val }}</strong>
                            <a tabindex="0"
                               role="button"
                               class="btn btn-link btn-xs"
                               data-trigger="focus"
                               data-placement="top"
                               :title="param.key + ': ' + param.val"
                               :data-content="param.description"
                            >
                                <span class="glyphicon glyphicon-question-sign"
                                      @click="showPopoverDescription"
                                ></span>
                            </a>
                        </div>
                        <button class="btn btn-primary btn-xs"
                                @click.prevent="editParameter(param)"
                                v-if=" ! editExistingParameter"
                        >
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>&nbsp;
                        <button class="btn btn-danger btn-xs"
                                @click.prevent="removeParameter(param)"
                                v-if=" ! editExistingParameter"
                        >
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['parameters'],

        data() {
            return {
                parameter: {
                    key: '',
                    val: '',
                    description: '',
                },

                editExistingParameter: false,
            }
        },

        methods: {
            addParameters() {
                if (this.parameter.key == '' || this.parameter.val == '') {
                    this.$swal({
                        title: 'Parameters key and value are required!',
                        type: 'error',
                    });
                    return;
                }

                // Add new parameter
                if ( ! this.parameterKeyExists() && ! this.editExistingParameter) {
                    this.parameters.push(this.parameter);
                    this.resetParameters();
                    return;
                }

                // Update existing parameter
                if (this.parameterKeyExists() && this.editExistingParameter) {
                    this.updateParameter(this.findParameterByKey());
                    this.resetParameters();
                    return;
                }

                this.$swal({
                    title: 'key "' + this.parameter.key + '" already exists!',
                    type: 'error',
                });
            },

            editParameter(data) {
                this.editExistingParameter = true;

                let res = this.parameters.filter(param => {
                    return param.key == data.key;
                });

                if (res.length) {
                    this.parameter.key = res[0].key;
                    this.parameter.val = res[0].val;
                    this.parameter.description = res[0].description;
                }
            },

            updateParameter(parameter) {
                parameter[0].key = this.parameter.key;
                parameter[0].val = this.parameter.val;
                parameter[0].description = this.parameter.description;

                this.editExistingParameter = false;
            },

            removeParameter(key) {
                this.$swal({
                    title: 'Are you sure?',
                    showCancelButton: true,
                    reverseButtons: true
                }).then(() => this.$delete(this.parameters, this.parameters.indexOf(key)), dismiss => {});
            },

            findParameterByKey() {
                return this.parameters.filter(param => param.key == this.parameter.key);
            },

            parameterKeyExists() {
                return !! this.findParameterByKey().length;
            },

            resetParameters() {
                this.parameter = {};
                this.parameter.key = '';
                this.parameter.val = '';
                this.parameter.description = '';
            },

            showPopoverDescription(e) {
                $(e.target).parent().popover('show');
            },
        }
    }
</script>