<template>
    <div>
        <div class="form-group">
            <label class="col-md-3 control-label">Validation</label>

            <div class="col-md-3">
                <input type="text"
                       class="form-control"
                       name="validation"
                       v-model="validation.key"
                       placeholder="Key"
                       :disabled="editExistingValidation"
                >
            </div>
            <div class="col-md-4">
                <input type="text"
                       class="form-control"
                       name="validation"
                       v-model="validation.val"
                       placeholder="Value"
                >
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label"></label>

            <div class="col-md-7">
                                    <textarea name="validation-description"
                                              class="form-control"
                                              id="validation-description"
                                              rows="3"
                                              placeholder="Validation description (optional)"
                                              v-model="validation.description"
                                    ></textarea>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary"
                        @click.prevent="addValidation"
                        v-text="editExistingValidation ? 'Update' : 'Add'"
                ></button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-sm"
                        v-for="validation in validations"
                        style="display:flex;"
                    >
                        <div style="flex:1;">
                            <strong>{{ validation.key }}: {{ validation.val }}</strong>
                            <a tabindex="0"
                               role="button"
                               class="btn btn-link btn-xs"
                               data-trigger="focus"
                               data-placement="top"
                               :title="validation.key + ': ' + validation.val"
                               :data-content="validation.description"
                            >
                                                    <span class="glyphicon glyphicon-question-sign"
                                                          @click="showPopoverDescription"
                                                    ></span>
                            </a>
                        </div>
                        <button class="btn btn-primary btn-xs"
                                @click.prevent="editValidation(validation)"
                                v-if=" ! editExistingValidation"
                        >
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>&nbsp;
                        <button class="btn btn-default btn-xs"
                                @click.prevent="removeValidation(validation)"
                                v-if=" ! editExistingValidation"
                        >
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['validations'],

        data() {
            return {
                validation: {
                    key: '',
                    val: '',
                    description: '',
                },

                editExistingValidation: false,
            }
        },

        methods: {
            addValidation() {
                if (this.validation.key == '' || this.validation.val == '') {
                    this.$swal({
                        title: 'Validations key and value are required!',
                        type: 'error',
                    });
                    return;
                }

                // Add new validation
                if ( ! this.validationKeyExists() && ! this.editExistingValidation) {
                    this.validations.push(this.validation);
                    this.resetValidations();
                    return;
                }

                // Update existing validation
                if (this.validationKeyExists() && this.editExistingValidation) {
                    this.updateValidation(this.findValidationByKey());
                    this.resetValidations();
                    return;
                }

                this.$swal({
                    title: 'key "' + this.validation.key + '" already exists!',
                    type: 'error',
                });
            },

            editValidation(data) {
                this.editExistingValidation = true;

                let res = this.validations.filter(validation => {
                    return validation.key == data.key;
                });

                if (res.length) {
                    this.validation.key = res[0].key;
                    this.validation.val = res[0].val;
                    this.validation.description = res[0].description;
                }
            },

            updateValidation(validation) {
                validation[0].key = this.validation.key;
                validation[0].val = this.validation.val;
                validation[0].description = this.validation.description;

                this.editExistingValidation = false;
            },

            removeValidation(key) {
                this.$swal({
                    title: 'Are you sure?',
                    showCancelButton: true,
                    reverseButtons: true
                }).then(() => this.$delete(this.validations, this.validations.indexOf(key)), dismiss => {});
            },

            findValidationByKey() {
                return this.validations.filter(validation => validation.key == this.validation.key);
            },

            validationKeyExists() {
                return !! this.findValidationByKey().length;
            },

            resetValidations() {
                this.validation = {};
                this.validation.key = '';
                this.validation.val = '';
                this.validation.description = '';
            },

            showPopoverDescription(e) {
                $(e.target).parent().popover('show');
            },
        }
    }
</script>