<template>
    <div class="modal fade" id="modal-create-command" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button " class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">
                        Create Command
                    </h4>
                </div>

                <div class="modal-body">
                    <!-- Form Errors -->
                    <div class="alert alert-danger" v-if="createForm.errors.length > 0">
                        <p><strong>Whoops!</strong> Something went wrong!</p>
                        <br>
                        <ul>
                            <li v-for="error in createForm.errors">
                                {{ error }}
                            </li>
                        </ul>
                    </div>

                    <!-- Create Command Form -->
                    <form class="form-horizontal" role="form">
                        <!-- Name -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name</label>

                            <div class="col-md-7">
                                <input id="create-command-name"
                                       type="text"
                                       class="form-control"
                                       name="command"
                                       @keyup.enter="store"
                                       v-model="createForm.command"
                                >

                                <span class="help-block">
                                    Unique command name, separated by dot.
                                </span>
                            </div>
                        </div>

                        <!-- Command Parameters -->
                        <parameters :parameters.sync="createForm.parameters"
                        ></parameters>

                        <!-- Command Validation -->
                        <validations :validations.sync="createForm.validation"
                        ></validations>

                        <!-- Protected -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Protected</label>

                            <div class="col-md-7">
                                <input type="checkbox"
                                       data-toggle="toggle"
                                       data-width="100"
                                       ref="toggleProtected"
                                >
                                <span class="help-block">Is this command protected from exposing to the outside world.</span>
                            </div>
                        </div>

                        <!-- Active -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Active</label>

                            <div class="col-md-7">
                                <input type="checkbox"
                                       data-toggle="toggle"
                                       data-width="100"
                                       ref="toggleActive"
                                >
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal Actions -->
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                    >Close</button>

                    <button type="button"
                            class="btn btn-primary"
                            @click="store"
                    >Create</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    require('bootstrap-toggle');

    import Parameters from './partials/Parameters.vue';
    import Validations from './partials/Validations.vue';

    export default {
        components: {
            Parameters, Validations,
        },

        data() {
            return {
                createForm: {
                    errors: [],
                    command: '',
                    parameters: [],
                    protected: 0,
                    active: 0,
                    validation: [],
                },

                protectedCommandButton: null,
                activeCommandButton: null,
            }
        },

        mounted() {
            this.protectedCommandButton = $(this.$refs.toggleProtected);
            this.activeCommandButton = $(this.$refs.toggleActive);

            this.protectedCommandButton.change(() => {
                this.createForm.protected = this.protectedCommandButton.prop('checked') ? 1 : 0;
            });
            this.activeCommandButton.change(() => {
                this.createForm.active = this.activeCommandButton.prop('checked') ? 1 : 0;
            });
        },

        methods: {

            /**
             * Create a new command.
             */
            store() {
                this.persistCommand(
                    'post', '/admin/commands',
                    this.createForm, '#modal-create-command'
                );
            },

            /**
             * Persist the command to storage using the given form.
             */
            persistCommand(method, uri, form, modal) {
                form.errors = [];

                axios[method](uri, form)
                    .then(response => {
                        this.refresh();

                        this.createForm.command = '';
                        this.createForm.parameters = [];
                        this.createForm.protected = 0;
                        this.createForm.active = 0;
                        this.createForm.validation = [];
                        this.createForm.errors = [];
                        form.errors = [];

                        this.protectedCommandButton.prop('checked', false).change();
                        this.activeCommandButton.prop('checked', false).change();

                        $(modal).modal('hide');
                    })
                    .catch(error => {
                        console.log(error);
                        if (typeof error.response.data === 'object') {
                            form.errors = _.flatten(_.toArray(error.response.data));
                        } else {
                            form.errors = ['Something went wrong. Please try again.'];
                        }
                    });
            },

            // common...
            refresh() {
                this.$parent.getCommands();
            },
        }
    }
</script>