<template>
    <div>
        <div class="modal fade" id="modal-edit-command" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button " class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                        <h4 class="modal-title">
                            Edit Command
                        </h4>
                    </div>

                    <div class="modal-body">
                        <!-- Form Errors -->
                        <div class="alert alert-danger" v-if="editForm.errors.length > 0">
                            <p><strong>Whoops!</strong> Something went wrong!</p>
                            <br>
                            <ul>
                                <li v-for="error in editForm.errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <!-- Edit Command Form -->
                        <form class="form-horizontal" role="form">
                            <!-- Command Name -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Name</label>

                                <div class="col-md-7">
                                    <input id="edit-command-name"
                                           type="text"
                                           class="form-control"
                                           name="command"
                                           @keyup.enter="update"
                                           v-model="editForm.command"
                                    >

                                    <span class="help-block">
                                        Unique command name, separated by dot.
                                    </span>
                                </div>
                            </div>

                            <!-- Command Parameters -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Parameters</label>

                                <div class="col-md-3">
                                    <input type="text"
                                           class="form-control"
                                           name="parameters"
                                           v-model="parameter.key"
                                           placeholder="Key"
                                           :disabled="editExistingParameter"
                                           @keypress.enter.prevent
                                    >
                                </div>
                                <div class="col-md-4">
                                    <input type="text"
                                           class="form-control"
                                           name="parameters"
                                           v-model="parameter.val"
                                           placeholder="Value"
                                           @keypress.enter.prevent
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>

                                <div class="col-md-7">
                                    <textarea name="parameters-description"
                                              class="form-control"
                                              id="parameters-description"
                                              rows="3"
                                              placeholder="Parameter description (optional)"
                                              v-model="parameter.description"
                                    ></textarea>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary"
                                            @click.prevent="addParameters"
                                            v-text="editExistingParameter ? 'Update' : 'Add'"
                                    ></button>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <div class="col-md-7">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-sm"
                                            v-for="param in editForm.parameters"
                                            style="display:flex;"
                                        >
                                            <div style="flex:1;">
                                                <strong>{{ param.key }}: {{ param.val }}</strong>
                                                <a tabindex="0"
                                                   role="button"
                                                   class="btn btn-link btn-xs"
                                                   data-trigger="focus"
                                                   data-placement="top"
                                                   :title="param.key + ': ' + param.val"
                                                   :data-content="param.description"
                                                >
                                                    <span class="glyphicon glyphicon-question-sign"
                                                          @click="showPopoverDescription"
                                                    ></span>
                                                </a>
                                            </div>
                                            <button class="btn btn-primary btn-xs"
                                                    @click.prevent="editParameter(param)"
                                                    v-if=" ! editExistingParameter"
                                            >
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>&nbsp;
                                            <button class="btn btn-default btn-xs"
                                                    @click.prevent="removeParameter(param)"
                                                    v-if=" ! editExistingParameter"
                                            >
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Command Validation -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Validation</label>

                                <div class="col-md-3">
                                    <input type="text"
                                           class="form-control"
                                           name="validation"
                                           v-model="validation.key"
                                           placeholder="Key"
                                           :disabled="editExistingValidation"
                                           @keypress.enter.prevent
                                    >
                                </div>
                                <div class="col-md-3">
                                    <input type="text"
                                           class="form-control"
                                           name="validation"
                                           v-model="validation.val"
                                           placeholder="Value"
                                           @keypress.enter.prevent
                                    >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>

                                <div class="col-md-7">
                                    <textarea name="validation-description"
                                              class="form-control"
                                              id="validation-description"
                                              rows="3"
                                              placeholder="Validation description (optional)"
                                              v-model="validation.description"
                                    ></textarea>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary"
                                            @click.prevent="addValidation"
                                            v-text="editExistingValidation ? 'Update' : 'Add'"
                                    ></button>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <div class="col-md-7">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-sm"
                                            v-for="validation in editForm.validation"
                                            style="display:flex;"
                                        >
                                            <div style="flex:1;">
                                                <strong>{{ validation.key }}: {{ validation.val }}</strong>
                                                <a tabindex="0"
                                                   role="button"
                                                   class="btn btn-link btn-xs"
                                                   data-trigger="focus"
                                                   data-placement="top"
                                                   :title="validation.key + ': ' + validation.val"
                                                   :data-content="validation.description"
                                                >
                                                    <span class="glyphicon glyphicon-question-sign"
                                                          @click="showPopoverDescription"
                                                    ></span>
                                                </a>
                                            </div>
                                            <button class="btn btn-primary btn-xs"
                                                    @click.prevent="editValidation(validation)"
                                                    v-if=" ! editExistingValidation"
                                            >
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>&nbsp;
                                            <button class="btn btn-default btn-xs"
                                                    @click.prevent="removeValidation(validation)"
                                                    v-if=" ! editExistingValidation"
                                            >
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <div class="col-md-7">
                                <textarea name="description"
                                          id="description"
                                          rows="6"
                                          class="form-control"
                                          v-model="editForm.description"
                                ></textarea>
                                </div>
                            </div>

                            <!-- Protected -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Protected</label>

                                <div class="col-md-7">
                                    <input type="checkbox"
                                           data-toggle="toggle"
                                           data-width="100"
                                           ref="toggleProtected"
                                    >
                                    <span class="help-block">Is this command protected from exposing to the outside world.</span>
                                </div>
                            </div>

                            <!-- Active -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Active</label>

                                <div class="col-md-7">
                                    <input type="checkbox"
                                           data-toggle="toggle"
                                           data-width="100"
                                           ref="toggleActive"
                                    >
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal Actions -->
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-default"
                                data-dismiss="modal"
                                @click="refresh"
                        >Close</button>

                        <button type="button"
                                class="btn btn-primary"
                                @click="update"
                        >Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    require('bootstrap-toggle');

    export default {
        props: ['command'],

        data() {
            return {
                editForm: {
                    errors: [],
                    command: '',
                    parameters: [],
                    protected: false,
                    active: false,
                    validation: [],
                    description: '',
                },

                parameter: {
                    key: '',
                    val: '',
                    description: '',
                },

                validation: {
                    key: '',
                    val: '',
                    description: '',
                },

                protectedCommandButton: null,
                activeCommandButton: null,

                editExistingParameter: false,
                editExistingValidation: false,
            }
        },

        mounted() {
            this.protectedCommandButton = $(this.$refs.toggleProtected);
            this.activeCommandButton = $(this.$refs.toggleActive);

            this.protectedCommandButton.change(() => {
                this.editForm.protected = this.protectedCommandButton.prop('checked') ? 1 : 0;
            });
            this.activeCommandButton.change(() => {
                this.editForm.active = this.activeCommandButton.prop('checked') ? 1 : 0;
            });
        },

        watch: {
            command(val) {
                this.protectedCommandButton.prop('checked', val.protected).change();
                this.activeCommandButton.prop('checked', val.active).change();

                this.editForm.id = val.id;
                this.editForm.command = val.command;
                this.editForm.parameters = val.parameters.length ? val.parameters : [];
                this.editForm.protected = val.protected;
                this.editForm.active = val.active;
                this.editForm.validation = val.validation.length ? val.validation : [];
                this.editForm.description = val.description;
            }
        },

        methods: {

            /**
             * Persist the command to storage using the given form.
             */
            persistCommand(method, uri, form, modal) {
                form.errors = [];

                axios[method](uri, form)
                    .then(response => {
                        this.refresh();

                        form.errors = [];

                        $(modal).modal('hide');
                    })
                    .catch(error => {
                        if (typeof error.response.data === 'object') {
                            form.errors = _.flatten(_.toArray(error.response.data));
                        } else {
                            form.errors = ['Something went wrong. Please try again.'];
                        }
                    });
            },

            /**
             * Update the command being edited.
             */
            update() {
                this.persistCommand(
                    'put', '/admin/commands/' + this.editForm.id,
                    this.editForm, '#modal-edit-command'
                );
            },

            addParameters() {
                if (this.parameter.key == '' || this.parameter.val == '') {
                    this.$swal({
                        title: 'Parameters key and value are required!',
                        type: 'error',
                    });
                    return;
                }

                // Add new parameter
                if ( ! this.parameterKeyExists() && ! this.editExistingParameter) {
                    this.editForm.parameters.push(this.parameter);
                    this.resetParameters();
                    this.$swal({
                        title: 'New parameter added.',
                        type: 'info',
                        timer: 2000,
                        showConfirmButton: false,
                    });
                    return;
                }

                // Update existing parameter
                if (this.parameterKeyExists() && this.editExistingParameter) {
                    this.updateParameter(this.findParameterByKey());
                    this.resetParameters();
                    this.$swal({
                        title: 'Parameter successfully updated.',
                        type: 'info',
                        timer: 2000,
                        showConfirmButton: false,
                    });
                    return;
                }

                this.$swal({
                    title: 'key "' + this.parameter.key + '" already exists!',
                    type: 'error',
                });
            },

            editParameter(data) {
                this.editExistingParameter = true;

                let res = this.editForm.parameters.filter(param => {
                    return param.key == data.key;
                });

                if (res.length) {
                    this.parameter.key = res[0].key;
                    this.parameter.val = res[0].val;
                    this.parameter.description = res[0].description;
                }
            },

            updateParameter(parameter) {
                parameter[0].key = this.parameter.key;
                parameter[0].val = this.parameter.val;
                parameter[0].description = this.parameter.description;

                this.editExistingParameter = false;
            },

            removeParameter(key) {
                this.$swal({
                    title: 'Are you sure?',
                    showCancelButton: true,
                    reverseButtons: true
                }).then(() => this.$delete(this.editForm.parameters, this.editForm.parameters.indexOf(key)), dismiss => {});
            },

            findParameterByKey() {
                return this.editForm.parameters.filter(param => param.key == this.parameter.key);
            },

            parameterKeyExists() {
                return !! this.findParameterByKey().length;
            },

            resetParameters() {
                this.parameter = {};
                this.parameter.key = '';
                this.parameter.val = '';
                this.parameter.description = '';
            },

            addValidation() {
                if (this.validation.key == '' || this.validation.val == '') {
                    this.$swal({
                        title: 'Validations key and value are required!',
                        type: 'error',
                    });
                    return;
                }

                // Add new validation
                if ( ! this.validationKeyExists() && ! this.editExistingValidation) {
                    this.editForm.validation.push(this.validation);
                    this.resetValidations();
                    this.$swal({
                        title: 'New validation added.',
                        type: 'info',
                        timer: 2000,
                        showConfirmButton: false,
                    });
                    return;
                }

                // Update existing validation
                if (this.validationKeyExists() && this.editExistingValidation) {
                    this.updateValidation(this.findValidationByKey());
                    this.resetValidations();
                    this.$swal({
                        title: 'Validation successfully updated.',
                        type: 'info',
                        timer: 2000,
                        showConfirmButton: false,
                    });
                    return;
                }

                this.$swal({
                    title: 'key "' + this.validation.key + '" already exists!',
                    type: 'error',
                });
            },

            editValidation(data) {
                this.editExistingValidation = true;

                let res = this.editForm.validation.filter(validation => {
                    return validation.key == data.key;
                });

                if (res.length) {
                    this.validation.key = res[0].key;
                    this.validation.val = res[0].val;
                    this.validation.description = res[0].description;
                }
            },

            updateValidation(validation) {
                validation[0].key = this.validation.key;
                validation[0].val = this.validation.val;
                validation[0].description = this.validation.description;

                this.editExistingValidation = false;
            },

            removeValidation(key) {
                this.$swal({
                    title: 'Are you sure?',
                    showCancelButton: true,
                    reverseButtons: true
                }).then(() => this.$delete(this.editForm.validation, this.editForm.validation.indexOf(key)), dismiss => {});
            },

            findValidationByKey() {
                return this.editForm.validation.filter(validation => validation.key == this.validation.key);
            },

            validationKeyExists() {
                return !! this.findValidationByKey().length;
            },

            resetValidations() {
                this.validation = {};
                this.validation.key = '';
                this.validation.val = '';
                this.validation.description = '';
            },

            // common...
            refresh() {
                this.$parent.getCommands();
            },

            showPopoverDescription(e) {
                $(e.target).parent().popover('show');
            },
        }
    }
</script>
